@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
}

.plano-fundo {
    display: flex;
    position: fixed;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.plano-fundo video {
    position: fixed;
    object-fit: cover;

    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

header {
    background-color: #8297E2;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.logo {
    flex: 1;
    display: flex;

}

.logo h1 {
    color: #ffffff;
    margin-left: 2rem;
}

.nav-bar {
    flex: 1;
    flex-direction: row;
    display: flex;
    padding: 0 20px;
    justify-content: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0rem 1rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Colunas*/
#img_redondo_esq {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 16px;
    top: 14px;

    border-radius: 200px;
}

#img_redondo_dir {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 515px;
    top: 14px;

    border-radius: 200px;
}

#primeiro {
    position: absolute;
    width: 720px;
    height: 220px;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);

    background: #8297E2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 800px;
}

#segundo {
    position: absolute;
    width: 720px;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
    top: 440px;

    background: #4666D7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 600px;
}

#terceiro {
    position: absolute;
    width: 720px;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
    top: 690px;

    background: #8297E2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 600px;
}

#quarto {
    position: absolute;
    width: 720px;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
    top: 940px;

    background: #4666D7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 600px;
}

#quinto {
    position: absolute;
    width: 720px;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
    top: 1190px;

    background: #8297E2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 600px;
}

#sep {
    left: 220px;
}

#h1_esq {

    position: absolute;
    width: auto;
    height: 200px;
    left: 220px;
    top: 25px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;

    color: #000000;
}

#h1_dir {
    position: absolute;
    width: auto;
    height: 30px;
    left: 90px;
    top: 25px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;

    color: #000000;
}

h3 {
    position: absolute;
    height: 30px;
    left: 90px;
    top: 50px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

#h3_esq {
    left: 220px;
    top: 50px;
}

h4 {
    position: absolute;
    width: 551px;
    height: 30px;
    left: 90px;
    top: 90px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

#h4_esq {
    position: absolute;
    width: 551px;
    height: 30px;
    left: 220px;
    top: 90px;
}

.meu-span {
    color: white;
}

/*Scroll*/
ejs::-webkit-scrollbar {
    width: 0.5rem;
}

ejs::-webkit-scrollbar-track {
    background-color: transparent;
}

ejs::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5rem;
}

/*Resposividade*/
@media only screen and (min-width: 700px) and (max-width: 850px){
    header{
        height: auto;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    #primeiro{
        width: 670px;
        height: 220px;
    }

    #segundo{
        width: 670px;
        height: 220px;
    }
    
    #img_redondo_dir{
        width: 160px;
        height: 160px;
        top: 25px;
        left: 73%;

    }

    #terceiro{
        width: 670px;
        height: 220px;
    }

    #quarto{
        width: 670px;
        height: 220px;
    }

    #quinto{
        width: 670px;
        height: 220px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 750px){
    header{
        height: auto;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }
    
    .nav-item {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .open {
        display: block;
    }

    #primeiro{
        width: 470px;
        height: 200px;
    }

    #img_redondo_esq{
        width: 140px;
        height: 140px;
        top: 20px;
        left: 12px;
    }

    #h1_esq{
         left: 160px;
         font-size: 25px;
    }

    #h3_esq{
        left: 160px;
        font-size: 20px;
    }

    #h4_esq{
        left: 160px;
        font-size: 15px;
    }

    #segundo{
        width: 470px;
        height: 200px;
    }

    #h1_dir{
        left: 55px;
    }

    #img_redondo_dir{
        width: 140px;
        height: 140px;
        top:25px;
        left: 322px;
    }

    h3{
        left: 55px;
        font-size: 20px;
    }

    h4{
        left: 55px;
        font-size: 15px;
    }

    #terceiro{
        width: 470px;
        height: 200px;
    }

    #quarto{
        width: 470px;
        height: 200px;
    }

    #quinto{
        width: 470px;
        height: 200px;
    }

    #sep{
        top: 85px;
        left: 160px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 650px){
    header{
        height: auto;
    }

    .nav-bar {
        padding: 1.5rem 6rem;
    }
    
    .nav-item {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .open {
        display: block;
    }

    .logo h1{
        margin-top: 2%;
    }

    #primeiro{
        width: 450px;
        height: 200px;
    }

    #img_redondo_esq{
        width: 140px;
        height: 140px;
        top: 29px;
        left: 12px;
    }

    #h1_esq{
         left: 160px;
         font-size: 25px;
    }

    #h3_esq{
        left: 160px;
        font-size: 20px;
    }

    #h4_esq{
        left: 160px;
        font-size: 15px;
    }

    #segundo{
        width: 450px;
        height: 200px;
    }

    #h1_dir{
        left: 48px;
    }

    #img_redondo_dir{
        width: 130px;
        height: 130px;
        top:30px;
        left: 314px;
    }

    h3{
        left: 48px;
        font-size: 19px;
    }

    h4{
        left: 48px;
        font-size: 15px;
    }

    #terceiro{
        width: 450px;
        height: 200px;
    }

    #quarto{
        width: 450px;
        height: 200px;
    }

    #quinto{
        width: 450px;
        height: 200px;
    }

    #sep{
        top: 85px;
        left: 160px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 200px), (max-width: 400px), (max-width: 300px){
    header{
      height: auto;
    }
    .nav-bar {
      padding: 1.5rem 6rem;
    }
  
    .nav-item {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
    }
  
    .open {
      display: block;
    }

    .logo h1{
        margin-top: 2%;
    }

    #primeiro{
        width: 450px;
        height: 200px;
    }

    #img_redondo_esq{
        width: 140px;
        height: 140px;
        top: 29px;
        left: 12px;
    }

    #h1_esq{
         left: 160px;
         font-size: 25px;
    }

    #h3_esq{
        left: 160px;
        font-size: 20px;
    }

    #h4_esq{
        left: 160px;
        font-size: 15px;
    }

    #segundo{
        width: 450px;
        height: 200px;
    }

    #h1_dir{
        left: 50px;
    }

    #img_redondo_dir{
        width: 130px;
        height: 130px;
        top:30px;
        left: 314px;
    }

    h3{
        left: 50px;
        font-size: 20px;
    }

    h4{
        left: 50px;
        font-size: 15px;
    }

    #terceiro{
        width: 450px;
        height: 200px;
    }

    #quarto{
        width: 450px;
        height: 200px;
    }

    #quinto{
        width: 450px;
        height: 200px;
    }

    #sep{
        top: 85px;
        left: 160px;
        font-size: 15px;
    }
}